
<div class="tablebox">
  <table class="col-sm-12">
  <tr>
    <th>Name</th>
    <th>Country Code</th>
    <th>Capital</th>
    <th>Area in km2</th>
    <th>Population</th>
    <th>Continent</th>
  </tr>
  <tr ui-sref="countriesDetail({ countryCode: country.countryCode, country: country })" ng-click="getCountryInfo(country)" ng-repeat="country in countryInfo">
    <td>{{ country.countryName }}</td>
    <td>{{ country.countryCode }}</td>
    <td>{{ country.capital}}</td>
    <td>{{ country.areaInSqKm | number }}</td>
    <td>{{ country.population | number }}</td>
    <td>{{ country.continent }}</td>
  </tr>
  </table>
</div>
<div>
  <a class="home-btn btn btn-primary center-block" ui-sref="home">Home</a>
</div>
